.avoid-header{
	margin-top:75px;
}

.footer{
	height:40px;
	margin-top:-40px;
}
#setting-nav-list {
	margin-top: 91px;
}

#splash {
	margin-top: 100px;
}
#goxTick {
	margin: 70px auto 30px auto;
	width: 105px;
	text-align: center;
	padding: 11px 5px 11px 5px;
}
#table {
	background-color: #fdfdfd;
	margin: auto;
}
