.avoid-header{
	margin-top:75px;
}

.footer{
	height:40px;
	margin-top:-40px;
}
#setting-nav-list {
	margin-top: 91px;
}

#splash {
	margin-top: 100px;
}
#goxTick {
	margin: 55px 400px;
	text-align: center;
}
#table {
	background-color: #fdfdfd;
	margin: auto;
}
