.avoid-header{
	margin-top:75px;
}
.navbar {
}

@media (min-width: 768px) { 
  .sb-fixed{
    position: fixed;
    width: 18%;
  } 
}

/*.footer{
	height:40px;
	margin-top:-40px;
} */

.footer{
	text-align: center;
}
#setting-nav-list {
	margin-top: 91px;
}
#info-nav-list {
	margin-top: 91px;
}

#info-update{
	margin: 5px auto;
	text-align: center;
}

#splash {
	margin-top: 100px;
}
#goxTick {
	margin: 70px auto 30px auto;
	width: 105px;
	text-align: center;
	padding: 11px 5px 11px 5px;
}
#table {
	background-color: #fdfdfd;
	margin: auto;
}
